doctype html
html(lang="en")
    head
        title Beurrage Invoice ##{invoice.id}
        link(href='//fonts.googleapis.com/css?family=Roboto:400,300,100,700', rel='stylesheet', type='text/css')
        link(href='/css/invoice.css', rel='stylesheet', type='text/css')
    body
        div.header
            h1.docName INVOICE
                br
                span.docNum #{invoice.id}
            img.logo(src='/img/simpleLogo.png')
            div.contactInfo
                span.headerText 1248 W 18th Street, Pilsen, Chicago, IL
                br
                span.headerText billing@beurrage.com
                span.headerText 773 998 2371
                br
                span.headerText beurrage.com
                div.headerText.issueDate Issued On: #{moment().format('dddd, MMMM Do YYYY') }
                //div.headerText.issueDate Issued On: #{moment(invoice.modifiedTimestamp).format('dddd, MMMM Do YYYY') }
                //- div.headerText.dueDate Payment Due By: #{moment(invoice.modifiedTimestamp).add('days', 15).format('dddd, MMMM Do YYYY') }
        div.topBoxes
            div.summary Invoice Summary:
                table
                    thead
                        tr.header
                            td.descriptionCol
                            td.emptyCol1
                            td.emptyCol2
                            td.numberCol
                    tbody
                        tr.orderCount
                            td Order#{ invoice.orderCount > 1 ? 's' : ''}
                            td
                            td
                            td.rightCell #{invoice.orderCount}
                        //tr.subtotal
                        //    td Subtotal
                        //    td
                        //    td
                        //    td $#{_.str.numberFormat(invoice.subtotal, 2)}
                        tr.totalDue
                            //- td Total Due by #{moment(invoice.modifiedTimestamp).add('days', 15).format('MMM Do \'YY') }
                            td Total Due
                            td
                            td
                            td.rightCell $#{_.str.numberFormat(invoice.total, 2)}
                span.dueDateSummary Payment due by #{moment().add('days', 15).format('MMM Do YYYY') }
            div.billedTo Billed to:
                br
                = invoice.billedToName
                br
                = invoice.billedToEmail
                br
                = invoice.billedToAddress
        br
        br
        div
            - invoice.orders.forEach(function (order) {
            div.order
                span.orderName #{ order.name ? order.name : moment(order.createdTimestamp).format('dddd - MM/DD/YY') }
                table.orderTable
                    thead
                        tr.header
                            td.nameCol Item Name
                            td.unitPriceCol Unit Price
                            td.quantityCol Quantity
                            td.itemTotalCol.rightCell Item Total
                    tbody
                        - order.items.forEach(function (item) {
                        tr.item
                            td #{item.name}
                            td $#{_.str.numberFormat(item.unitPrice, 2)}
                            td #{item.quantity}
                            td.rightCell $#{_.str.numberFormat(item.itemTotal, 2)}
                        - })
                        tr.subtotal
                            td Order Subtotal
                            td
                            td #{order.itemCount}
                            td.rightCell $#{_.str.numberFormat(order.total, 2)}
            - })
        div.footer
            table.footerTable
                thead
                    tr.header
                        td.descriptionCol
                        td.emptyCol1
                        td.emptyCol2
                        td.numberCol
                tbody
                    tr.orderCount
                        td Order#{ invoice.orderCount > 1 ? 's' : ''}
                        td
                        td
                        td.rightCell #{invoice.orderCount}
                    tr.subtotal
                        td Subtotal
                        td
                        td
                        td.rightCell $#{_.str.numberFormat(invoice.subtotal, 2)}
                    - invoice.adjustments.forEach(function (adjustment) {
                    tr
                        td.adjustment #{_.str.capitalize(adjustment.name)}
                        td
                        if adjustment.typeId == 2
                            td #{_.str.numberFormat(adjustment.value * 100, 2)}%
                        else
                            td
                        if adjustment.lineItem >= 0
                            td.rightCell $#{_.str.numberFormat(adjustment.lineItem, 2)}
                        else
                            td.rightCell -$#{_.str.numberFormat(adjustment.lineItem * -1, 2)}
                    - })
                    tr.totalDue
                        td Total Due
                        td
                        td
                        td.rightCell $#{_.str.numberFormat(invoice.total, 2)}
        div.bottomNote
            span Please submit payment for this invoice by
            span.dueDateCallout #{moment().add('days', 15).format('dddd, MMMM Do YYYY') }
            //- span.dueDateCallout #{moment(invoice.modifiedTimestamp).add('days', 15).format('dddd, MMMM Do YYYY') }
            br
            br
            span Thanks!
